[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
    content: "\e610";
}
.icon-youtube:before {
    content: "\e600";
}
.icon-twitter:before {
    content: "\e601";
}
.icon-ponto-no-mapa:before {
    content: "\e602";
}
.icon-horario:before {
    content: "\e603";
}
.icon-facebook:before {
    content: "\e604";
}
.icon-dados-abertos:before {
    content: "\e605";
}
.icon-creative-commons:before {
    content: "\e606";
}
.icon-compartilhar:before {
    content: "\e607";
}
.icon-calendario:before {
    content: "\e608";
}
.icon-botao-voltar:before {
    content: "\e609";
}
.icon-botao-seguir:before {
    content: "\e60a";
}
.icon-biblioteca-ver-todos:before {
    content: "\e60b";
}
.icon-biblioteca-publicacoes:before {
    content: "\e60c";
}
.icon-biblioteca-multimidia:before {
    content: "\e60d";
}
.icon-biblioteca-legislacao:before {
    content: "\e60e";
}
.icon-biblioteca-estudos:before {
    content: "\e60f";
}
