@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-wtrdas');
    src:url('fonts/icomoon.eot?#iefix-wtrdas') format('embedded-opentype'),
        url('fonts/icomoon.woff?-wtrdas') format('woff'),
        url('fonts/icomoon.ttf?-wtrdas') format('truetype'),
        url('fonts/icomoon.svg?-wtrdas#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url('fonts/dosis-regular-webfont.eot');
    src: url('fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-regular-webfont.woff') format('woff'),
         url('fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "config";
@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";
@import "icons";


@import "home/01-header-section";
@import "home/02-menu-section";
@import "home/03-news-section";
@import "home/04-library-section";
@import "home/05-events-section";
@import "home/06-footer-section";

// label dos projetos
.label {
    border: 2px solid #fff;
}
.social-network.section {
    background-color: #F1F1F2;
}



.footer.section {
    background-color: #000;
    color: #666;

    a:hover {
        color: #fff;
    }
}
