@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-wtrdas');
    src:url('fonts/icomoon.eot?#iefix-wtrdas') format('embedded-opentype'),
        url('fonts/icomoon.woff?-wtrdas') format('woff'),
        url('fonts/icomoon.ttf?-wtrdas') format('truetype'),
        url('fonts/icomoon.svg?-wtrdas#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url('fonts/dosis-regular-webfont.eot');
    src: url('fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-regular-webfont.woff') format('woff'),
         url('fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "config";
@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";
@import "icons";


@import "home/01-header-section";
@import "home/02-menu-section";
@import "home/03-news-section";
@import "home/04-library-section";
@import "home/05-events-section";
@import "home/06-footer-section";

// label dos projetos
.label {
    border: 2px solid #fff;
}


.section {
    h2 {
        text-transform: uppercase;
        margin: 2rem 0 .5rem;
    }
}


.news.section {
    margin-bottom: rem-calc(20);
}


.details {
    .date {
        font-size: rem-calc(12);
        color: #989898;
    }
    h3 {
        font-size: rem-calc(15);
        font-family: 'Montserrat';
        margin: .5rem 0;
        line-height: 1.4rem;
    }
    .summary {
        font-size: rem-calc(13);
        color: #666666;
        line-height: 1.2rem;
    }
}







.social-network.section {
    background-color: #F1F1F2;
    box-shadow:inset 0px 2px 2px 2px rgba(35,31,32,.2);

    .box {
        height: rem-calc(350);
        background-color: #fff;
        padding: .5rem;
        border-radius: 1rem;
        margin-bottom: rem-calc(60);
    }
}



.footer.section {
    background-color: #000;
    color: #666;

    a:hover {
        color: #fff;
    }
}
