@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserratalternates-regular-webfont.eot');
    src: url('fonts/montserratalternates-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserratalternates-regular-webfont.woff') format('woff'),
         url('fonts/montserratalternates-regular-webfont.ttf') format('truetype'),
         url('fonts/montserratalternates-regular-webfont.svg#montserrat_alternatesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Dosis';
    src: url('fonts/dosis-regular-webfont.eot');
    src: url('fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-regular-webfont.woff') format('woff'),
         url('fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "config";
@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";

.top-head {
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
}

.project-menu {
    background-color: #f8f8f9;

    .label {
        background-color: #f1f1f2;
        color: #000;
    }
}
