.small-4.columns.sidebar
  .row
    .small-12.columns.projects
      h5 notícias por projeto
      p.labels
        a.round.label.project-1 Projeo Mãe
        a.round.label.project-2 Nome do Projeto
        a.round.label.project-3 Subprojeto da Lapa
        a.round.label.project-5 Projeto Pai
        a.round.label.project-4 Ajuda com o Nome do Projeto
    .small-12.columns.libraries
      h2 biblioteca
      p
        | Todo material de apoio sobre legislação relativa a cidade.
        br
        | Assista vídeos e leia os artigos. Informe-se!
      ul
        li
          a
            i.icon-biblioteca-multimidia
            | Multimídia
        li
          a
            i.icon-biblioteca-publicacoes
            | Publicações
        li
          a
            i.icon-biblioteca-legislacao
            | Legislação
        li
          a
            i.icon-biblioteca-estudos
            | Estudos
    .small-12.columns.text-center
      a.see-more(href='#') ver todos os arquivos

    .small-12.columns.events
      h2 agenda
      p
        | Confira as próximas pautas discutidas.
      .row
        .event.small-12.columns
          i.icon-calendario
          h3 14.abril
          p.name Audiência Regional PDE - Norte

        .event.small-12.columns
          i.icon-calendario
          h3 18.abril
          p.name Audiência Regional PDE - Sul

    .small-12.columns.text-center
      a.see-more(href='#') ver todos os eventos
