extends index

block content
  .row.section.page.contato
    .small-12.columns
      h2 contato
      br
      br
      br
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        br
        | Aliquam tincidunt mauris eu risus.
        br
        | Vestibulum auctor dapibus neque.
        br
        | Nunc dignissim risus id metus.
        br
        | Cras ornare tristique elit.
        br
        | Vivamus vestibulum nulla nec ante.
      .row.section
        .small-12.medium-5.columns
          form
            .row
              .small-12.columns
                label Nome
                  input(type="text", placeholder="Seu nome")
                label Email
                  input(type="text", placeholder="Seu email")
                label Mensagem
                  textarea(placeholder="Sua mensagem")
                button(type="submit", class="button small")
                    i.icon-email
                    | ENVIAR



  br
  br
  br
