extends index

block content
  .row.page.section
    .small-12.columns
      h2 entenda
      br
      h3 Governo Aberto
      br
      br

      p A cidade é como se fosse a nossa casa. E, para manter a casa sempre organizada, é preciso que cada um faça a sua parte. Assim como planejamos e arrumamos cada cômodo do nosso lar, em uma cidade é preciso garantir os espaços públicos bem cuidados, preservar o meio ambiente, ter moradia adequada para todos, garantir que as pessoas possam ir trabalhar, passear, fazer compras sem enfrentar congestionamentos e longas horas nos deslocamentos.
      p Mais de 11 milhões de paulistanos convivem com uma realidade profundamente desigual e desequilibrada, resultado não apenas do baixo investimento na cidade, mas principalmente de um longo processo de formação histórica no qual a maioria dos governos municipais atuou sem o uso de mecanismos de planejamento.
      p Portanto, a Prefeitura de São Paulo elaborou cinco articulações territoriais visando a redução expressiva das desigualdades socioespaciais para a estruturação de uma cidade reconhecida como lugar em que se vive com qualidade e que oferece oportunidade para todos:

      p.subtitle Resgate da Cidadania nos territórios mais vulneráveis
      p Ação integrada nas áreas que concentram a probreza, envolvendo transferência de renda, serviços públicos, inserção urbana e participação política.

      p.subtitle Estruturação do Arco do Futuro
      p Desenvolvimento equilibrado, integrado aos recursos ambientais e com aproveitamento das infraestruturas existentes e das planejadas.

      p.subtitle Fortalecimento das centralidades locais e das redes de equipamentos públicos
      p Qualificação dos centros de bairros e ampliação, integração dos usos e gestão integrada da rede de equipamentos públicos.

      p.subtitle Requalificação da área central
      p Apropriação do centro como referência de toda a cidade, a partir da requalificação dos equipamentos urbanos, dos espaços para pedestres e da habitação social.

      p.subtitle Reordenação da fronteira ambiental
      p Articulação de projetos que compatibilizem proteção ambiental, melhoria da qualidade do habitat e criação de oportunidades de trabalho.
