extends index

block content
  .row.section
    .small-8.columns.content
      h2 notícias

      .row.news
        .small-12.columns
          p.date 16.04.2014
          h3: a(href="noticia.html") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
          h4 Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

          a(href="noticia.html"): img(src='http://placehold.it/640x210', alt='legenda')

          .share
            .title compartilhe
            .fb-share-button(data-href="/noticia.html",data-type="button_count")
            a.twitter-share-button(href="https://twitter.com/share", data-via="lpirola")
            .g-plus(data-action="share", data-height="15", data-width="120")

          .text-content
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.

            p Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.

            p Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.

            p Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. Vivamus imperdiet nibh feugiat est.

            p Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida.

          .share
            .title compartilhe
            .fb-share-button(data-href="/noticia.html",data-type="button_count")
            a.twitter-share-button(href="https://twitter.com/share", data-via="lpirola")
            .g-plus(data-action="share", data-height="15", data-width="120")

          p.tags
            span tags
            a Audiências Públicas
            |,
            a Câmara Municipal
            |,
            a Instrumentos de Política Urbana
            |,
            a Nabil Bonduki
            |,
            a PDE
            |,
            a Plano Diretor Estratégico
            |,
            a Revisão Participativa
    .small-4.columns.sidebar
      .row
        // .small-12.columns.projects
          h5 notícias por projeto
          p.labels
            a.round.label.project-1 Projeo Mãe
            a.round.label.project-2 Nome do Projeto
            a.round.label.project-3 Subprojeto da Lapa
            a.round.label.project-5 Projeto Pai
            a.round.label.project-4 Ajuda com o Nome do Projeto
        .small-12.columns.libraries
          h2 biblioteca
          p
            | Todo material de apoio sobre legislação relativa a cidade.
            br
            | Assista vídeos e leia os artigos. Informe-se!
          ul
            li
              a
                i.icon-biblioteca-multimidia
                | Multimídia
            li
              a
                i.icon-biblioteca-publicacoes
                | Publicações
            li
              a
                i.icon-biblioteca-legislacao
                | Legislação
            li
              a
                i.icon-biblioteca-estudos
                | Estudos
        .small-12.columns.text-center
          a.see-more(href='#') ver todos os arquivos

        .small-12.columns.events
          h2 agenda
          p
            | Confira as próximas pautas discutidas.
          .row
            .event.small-12.columns
              i.icon-calendario
              h3 14.abril
              p.name Audiência Regional PDE - Norte

            .event.small-12.columns
              i.icon-calendario
              h3 18.abril
              p.name Audiência Regional PDE - Sul

        .small-12.columns.text-center
          a.see-more(href='#') ver todos os eventos

