extends index

block content
  .row.section
    .small-8.columns.content
      h2 notícias

      .row.news
        .small-12.columns
          p.date 16.04.2014
          h3: a(href="noticia.html") Prefeitura regulamenta a criação de ‘parklets’ para ampliar oferta de espaços públicos na cidade
          h4 Iniciativa visa a criação de espaços temporários com o objetivo humanizar e democratizar o uso da rua. O equipamento amplia e qualifica espaços de convivência que proporcionam maior interação social
          a(href="noticia.html"): img(src='http://placehold.it/640x210', alt='legenda')

          .share
            .title compartilhe
            .fb-share-button(data-href="/noticia.html",data-type="button_count")
            a.twitter-share-button(href="https://twitter.com/share", data-via="lpirola")
            .g-plus(data-action="share", data-height="15", data-width="120")

          .text-content
            p Foram realizadas no último final de semana, dias 05 e 06 de abril, mais duas audiências públicas do processo de revisão participativa do PDE (PL 688/13). Dessa vez a avaliação foi com relação à proposta de texto substitutivo ao PL, apresentada pelo relator Vereador Nabil Bonduki à Comissão de Política Urbana, Metropolitana e de da Meio Ambiente da Câmara no dia 26 de março de 2014.
            p No primeiro dia, sábado, pela manhã, foram apresentas as principais propostas trazidas pelo substitutivo. A parte da tarde teve foco na discussão. Foram formados oito grupos de trabalho que discutiram, simultaneamente, temas como habitação, cultura, meio ambiente, mobilidade e gestão democrática.
            p No domingo, os grupos terminaram suas discussões e apresentaram a todos uma sistematização do que foi discutido.
            p As próximas audiências já estão marcadas para os dias 14, 15, 16 e 17 de abril. Acesse nossa agenda e confira data, horário e local de cada um dos próximos encontros. Participe!
            p Serviço:
            p 14 Abr | Segunda-feira
            p Audiência Regional PDE – Norte
            p Horário: das 19h às 22h
            p Subprefeitura de Santana – Avenida Tucuruvi, 808

          .share
            .title compartilhe
            .fb-share-button(data-href="/noticia.html",data-type="button_count")
            a.twitter-share-button(href="https://twitter.com/share", data-via="lpirola")
            .g-plus(data-action="share", data-height="15", data-width="120")

          p.tags
            span tags
            a Audiências Públicas
            |,
            a Câmara Municipal
            |,
            a Instrumentos de Política Urbana
            |,
            a Nabil Bonduki
            |,
            a PDE
            |,
            a Plano Diretor Estratégico
            |,
            a Revisão Participativa
    .small-4.columns.sidebar
      .row
        .small-12.columns.projects
          h5 notícias por projeto
          p.labels
            a.round.label.project-1 Projeo Mãe
            a.round.label.project-2 Nome do Projeto
            a.round.label.project-3 Subprojeto da Lapa
            a.round.label.project-5 Projeto Pai
            a.round.label.project-4 Ajuda com o Nome do Projeto
        .small-12.columns.libraries
          h2 biblioteca
          p
            | Todo material de apoio sobre legislação relativa a cidade.
            br
            | Assista vídeos e leia os artigos. Informe-se!
          ul
            li
              a
                i.icon-biblioteca-multimidia
                | Multimídia
            li
              a
                i.icon-biblioteca-publicacoes
                | Publicações
            li
              a
                i.icon-biblioteca-legislacao
                | Legislação
            li
              a
                i.icon-biblioteca-estudos
                | Estudos
        .small-12.columns.text-center
          a.see-more(href='#') ver todos os arquivos

        .small-12.columns.events
          h2 agenda
          p
            | Confira as próximas pautas discutidas.
          .row
            .event.small-12.columns
              i.icon-calendario
              h3 14.abril
              p.name Audiência Regional PDE - Norte

            .event.small-12.columns
              i.icon-calendario
              h3 18.abril
              p.name Audiência Regional PDE - Sul

        .small-12.columns.text-center
          a.see-more(href='#') ver todos os eventos

