.project-menu {
    background-color: #f8f8f9;

    .label {
        background-color: #f1f1f2;
        color: #000;
    }
}


.label {
    border: 2px solid #fff;
}

/*Initialize*/
ul.menu, ul.menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul.menu li, ul.menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul.menu li ul.sub-menu li a {
    text-decoration: none;
    background: #fff;
    padding: 5px;
    width: rem-calc(130);
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul.menu li {
    position: relative;
    z-index: 99;
}
/*sub menu*/
ul.menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
    z-index: 99;
}
ul.menu li:hover ul.sub-menu {
    display:block;
}
